/*Root------------*/
*{      
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor-fundo: #16161a;
    --cor-texto: #fffffe;
    --cor-nav:#7f5af0;
}

/*-------------nav*/
.fundo{
    background-color: var(--cor-fundo);
    color:var(--cor-texto);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.fundo a{
    color: var(--cor-texto);
}
.fundo a:hover{
    color:var(--cor-nav);
}

/*img--------------*/
header img{
    width:200px;
    border-radius: 50%;
    border:var(--cor-nav)solid 5px; 
}

/*Footer -----------------*/
footer{
    display :flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--cor-fundo);
}

footer p{
    margin-top : 10px;
}

footer path{
    fill: var(--cor-nav);
}
